<% provide :page_title, 'Edit iPhone Module' %>
<% currently_at 'iPhone Modules' %>
<div class="row">

  <div class="col-2">
    <%= render 'module_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h1 class="display-6 mb-5">
        Editing
        <span class="text-muted">
          <%= @mod.name %>
        </span>
      </h1>
    </div>

    <%= render 'form', mod: @mod %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @mod, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', mods_path, class: 'text-decoration-none text-dark' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'module_info_card' %>
  </div>
</div>
