<%= form_with(model: phone, html: { multipart: true }) do |form| %>

  <div class="phone-content">

    <% if phone.errors.any? %>
      <div class="row p-5 shadow bg-white mb-5 border border-danger">
        <div id="error_explanation" class="danger">
          <h5><%= pluralize(phone.errors.count, "error") %> <span class="text-muted">prohibited this phone from being saved:</span></h5>
          <br>

          <ul>
            <% phone.errors.each do |error| %>
              <li>
                <small class="text-muted">
                  <%= error.full_message %>
                </small>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>



    <div class="row p-5 shadow bg-white mb-5">
      <%= link_to edit_phone_generation_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
        <%= form.label 'iPhone generation', class: 'display-6 mb-5 text-decoration-none text-muted' %><br>
      <% end %>

      <div class="form-check form-switch">
        <%= form.collection_radio_buttons(:generation_id, Generation.order(:title), :id, :title) do |generation| %>
          <%= generation.label { generation.radio_button(class: 'form-check-input') + generation.text } %><br>
        <% end %>
      </div>
    </div>



    <div class="row p-5 shadow bg-white mb-5">
      <%= link_to edit_phone_title_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
        <%= form.label :model_title, class: 'display-6 mb-5 text-decoration-none text-muted' %>
      <% end %>

      <%#= form.text_field :model_title, class: 'form-control mb-5' %>

      <div class="row p-5 shadow bg-white mb-5">
        <%= form.label :choose_phone_title, { class: 'mb-5' } %>
        <%= form.select(:phone_id, options_from_collection_for_select(Phone.all, :id, :model_title, (phone.id if phone.present?)), {}, { class: 'form-control' }) %>
      </div>
    </div>



    <div class="row p-5 shadow bg-white mb-5">
      <div class="mb-3">
        <%= link_to edit_phone_avatar_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
          <%= form.label :iPhone_avatar, class: 'display-6 mb-5 text-decoration-none text-muted' %>
        <% end %>

        <%= form.file_field :avatar, id: 'new-avatar-field', type: 'file', class: 'form-control' %>
        <%= form.hidden_field :avatar_cache %>
      </div>

      <div class="row">
        <div class="mt-3 mb-3 col">
          <%= form.label "Current iPhone avatar", class: 'form-label mb-3' %><br>

          <% if phone.avatar.present? %>
            <%= image_tag(phone.avatar.url, width: '300', class: 'img-thumbnail rounded p-1 shadow') %>
          <% else %>
            <%= image_tag('default_product_avatar.jpg', width: '300', class: 'img-thumbnail rounded p-1 shadow') %>
          <% end %>
        </div>

        <div class="mt-3 mb-3 col">
          <%= form.label "New iPhone avatar preview", class: 'form-label mb-3' %><br>
          <img id="image-prevew" src="#" width="300" height="200" class="img-thumbnail rounded p-1 shadow" />
        </div>
      </div>
    </div>



    <div class="row p-5 shadow bg-white mb-5">
      <div class="mb-3">
        <%= link_to edit_phone_images_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
          <%= form.label "Change #{phone.model_title} images", class: 'anchorjs-link display-6 mb-5 text-decoration-none text-muted', id: 'photos' %>
        <% end %>

        <%= form.file_field :images, id: 'new-images-field', type: 'file', multiple: true, class: 'form-control' %>
        <%= form.hidden_field :images_cache %>
      </div>

      <div class="mt-3 mb-3">

        <%= form.label "Current iPhone images", class: 'form-label mb-3' %><br>

        <% if phone.images.present? %>
          <% phone.images.each do |phone_image| %>
            <%= image_tag(phone_image.url, width: '300', height: '200', class: 'img-thumbnail rounded p-1 shadow') %>
          <% end %>
        <% else %>
          <%= image_tag('default_product_avatar.jpg', width: '300', height: '200', class: 'img-thumbnail rounded p-1 shadow') %>
        <% end %>

        <% if phone.images? %>
          <% phone.images.each do |image| %>
            <%= image_tag(image.url, width: '100', class: 'rounded p-1 shadow') %>
          <% end %>
        <% end %>
      </div>

      <div class="mt-3 mb-3 col">
        <%= form.label "Choosed images", class: 'form-label mb-3' %><br>
        <img id="image-prevew" src="#" width="300" height="200" class="img-thumbnail rounded p-1 shadow" />
      </div>
    </div>



    <% if phone.images.size > 0 %>
      <div class="row p-5 shadow bg-white mb-5">
        <%= link_to add_more_phone_images_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
          <%= form.label "Add more images for #{phone.model_title}", class: 'display-6 mb-5' %>
        <% end %>

        <%= form.file_field :images, multiple: true, class: 'form-control' %>

        <div class="mt-3 mb-3">
          <% if phone.images? %>
            <% phone.images.each do |image| %>
              <%= image_tag(image.url, width: '100', class: 'rounded p-1 shadow') %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>



    <% if phone.images.size > 0 %>
      <div class="row p-5 shadow bg-white mb-5">
        <%= link_to delete_phone_images_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
          <%= form.label "Delete images for #{phone.model_title}", class: 'display-6 mb-5' %>
        <% end %>

        <% phone.images.each_with_index do |image, index| %>
          <div class="mt-2 mb-1 col text-center">
            <%= image_tag(image.url, width: '100', class: 'rounded img-thumbnail shadow') %>
            <%= link_to "Delete", phone_image_path(@phone, index), method: :delete, data: { confirm: "Are you sure you want to delete this image?" }, class: 'btn btn-sm btn-danger' %>
          </div>
        <% end %>
      </div>
    <% end %>



    <div class="row p-5 shadow bg-white mb-5">
      <%= link_to edit_phone_model_overview_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
        <%= form.label :model_overview, class: 'anchorjs-link display-6 mb-5', id: 'overview' %>
      <% end %>

      <%= form.rich_text_area :model_overview, class: 'anchorjs-link form-control' %>
    </div>



    <div class="row p-5 shadow bg-white mb-5">
      <%= link_to edit_phone_videos_path(phone), remote: true, class: 'text-decoration-none text-muted' do %>
        <%= form.label "Change #{phone.model_title} videos", class: 'anchorjs-link display-6 mb-5', id: 'videos' %>
      <% end %>

      <%= form.file_field :videos, multiple: true, type: 'file', class: 'form-control' %>

      <div class="mt-5">
        <% if phone.videos? %>
          <%= video_tag(phone.videos, width: '340', height: '180', controls: true, class: 'rounded p-1 shadow mx-auto mb-5') %>
        <% end %>
      </div>
    </div>


    <div class="row d-grid gap-2 col-6 mx-auto success-button">
      <%= form.submit class: 'btn btn-lg btn-secondary btn-success-custom shadow-lg' %>
    </div>
  </div>
<% end %>



<script type="text/javascript">

  function readURL(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#image-prevew').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#new-images-field").change(function(){
    readURL(this);
  });

</script>
