<% provide :page_title, 'AirPods' %>
<% currently_at 'AirPods' %>

<!-- <div class="container pt-5 pb-5"> -->
  <div class="bg-white shadow p-4 col-12">

    <h4 class="display-3 mb-5">AirPods</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Diagonal</th>
          <th>Model</th>
          <th>Version</th>
          <th>Series</th>
          <th>Production period</th>
          <th>Full title</th>
          <th>Overview</th>
          <th>Images</th>
          <th>Videos</th>
          <th colspan="3">Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @airpods.each do |airpod| %>
          <tr>
            <td class="align-middle"><%= airpod.id %></td>

            <td class="align-middle"><%= airpod.title %></td>
            <td class="align-middle"><%= airpod.diagonal %></td>
            <td class="align-middle"><%= airpod.model %></td>
            <td class="align-middle"><%= airpod.version %></td>
            <td class="align-middle"><%= airpod.series %></td>
            <td class="align-middle"><%= airpod.production_period %></td>
            <td class="align-middle"><%= airpod.full_title %></td>
            <td class="align-middle"><%= airpod.overview %></td>

            <td class="align-middle">
              <% airpod.images.each do |image| %>
                <%= image_tag(image.url, width: '30', class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle">
              <% airpod.videos.each do |video| %>
                <%= video_tag(video.url, width: '40', height: '40', controls: true, class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle"><%= link_to 'Show', airpod, class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_airpod_path(airpod), class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Destroy', airpod, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to 'New Airpod', new_airpod_path, class: 'text-decoration-none' %>
  </div>
<!-- </div> -->
