<% provide :page_title, 'Edit Owned Gadget' %>
<% currently_at 'Owned Gadgets' %>

<div class="row">

  <div class="col-2">
    <%= render 'owned_gadget_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h1 class="display-6">
        Editing
        <span class="anchorjs-link text-muted" id='gadget'>
          <%= @user.owned_gadget %>
        </span>
      </h1>
    </div>

    <%= render 'form', owned_gadget: @owned_gadget %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @owned_gadget, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', owned_gadgets_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'owned_gadget_info_card' %>
  </div>
</div>
