<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<% provide :page_title, @post.title %>
<% currently_at 'Posts' %>

<div class="row">

  <div class="col-2">
    <%= render 'post_show_nav' %>
  </div>

  <div class="col-6 m-5">

    <div class="row p-5 shadow bg-white mb-5">
      <span id="title" class="anchorjs-link display-5">
        <span class="text-muted display-5">
          <strong>Post</strong> <%= @post.title %>
        </span>
      </span>
    </div>

    <div class="row p-5 shadow bg-white mb-5">
      <span id="body" class="anchorjs-link display-5">
        <span class="text-muted display-5">
          <%= @post.body %>
        </span>
      </span>
    </div>

    <div class="row p-5 shadow bg-white mb-5">
      <span id="body" class="anchorjs-link display-5">
        <span class="text-muted display-5">
          <small>Views</small> <%= @post.views %>
        </span>
      </span>
    </div>

    <div class="list-inline-item mt-3">
      <%= link_to 'Edit', edit_post_path(@post), class: 'text-decoration-none' %>
      <%= link_to 'Back', posts_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'post_info_card' %>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
