<% provide :page_title, 'iPhone Spare Parts' %>
<% currently_at 'iPhone Spare Parts' %>

<div class="container-fluid py-3">
  <div class="d-flex align-items-center gap-3 mb-2">
    <%= link_to "← В магазин", store_path, class: "btn btn-link link-dark p-0" %>
  </div>

  <div class="row g-3">
    <div class="col-12 col-lg-6 col-xl-7">
      <% if @model || @phone || @generation %>
        <%= render partial: "shared/model_context", locals: { model: @model, phone: @phone, generation: @generation } %>
      <% else %>
        <div class="card shadow-sm mb-3">
          <div class="card-body d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Запчасти</h5>
            <%= link_to 'Новая запчасть', new_spare_part_path, class: 'btn btn-sm btn-primary' %>
          </div>
        </div>
      <% end %>

      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
            <h6 class="mb-0 text-muted">Фильтр запчастей</h6>
            <%= link_to 'Создать', new_spare_part_path, class: 'btn btn-sm btn-outline-primary' %>
          </div>
          <hr class="my-3">

          <%= form_with url: spare_parts_path, method: :get, data: { turbo_frame: "spare_parts_list" }, class: "row g-2" do %>
            <div class="col-6 col-md-3">
              <label class="form-label mb-1">Generation ID</label>
              <%= number_field_tag :generation_id, params[:generation_id], class: "form-control" %>
            </div>
            <div class="col-6 col-md-3">
              <label class="form-label mb-1">Phone ID</label>
              <%= number_field_tag :phone_id, params[:phone_id], class: "form-control" %>
            </div>
            <div class="col-6 col-md-3">
              <label class="form-label mb-1">Module ID</label>
              <%= number_field_tag :mod_id, params[:mod_id], class: "form-control" %>
            </div>
            <div class="col-6 col-md-3">
              <label class="form-label mb-1">Производитель</label>
              <%= text_field_tag :manufacturer, params[:manufacturer], class: "form-control", placeholder: "Любой" %>
            </div>
            <div class="col-12 d-flex gap-2">
              <%= submit_tag "Применить", class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "Сброс", spare_parts_path, class: "btn btn-sm btn-outline-dark" %>
            </div>
          <% end %>
        </div>
      </div>

      <%= turbo_frame_tag "spare_parts_list" do %>
        <%= render partial: "list", locals: { spare_parts: @spare_parts } %>
      <% end %>
    </div>

    <div class="col-12 col-lg-6 col-xl-5 d-none d-lg-block">
      <div class="card shadow-sm sticky-top sticky-below-navbar">
        <div class="card-body">
          <%= turbo_frame_tag "spare_part_details" do %>
            <%= render partial: "details_placeholder" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Мобильная модалка -->
<div class="modal fade" id="sparePartDetailsModal" tabindex="-1" aria-labelledby="sparePartDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sparePartDetailsModalLabel">Детали запчасти</h5>
        <%= link_to "В магазин", store_path, class: "btn btn-sm btn-link me-2 d-inline-flex d-sm-none d-md-inline-flex", data: { turbo_frame: "_top" } %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "spare_part_modal" do %>
          <div class="text-center text-muted py-5">Загрузка…</div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
