<% provide :page_title, 'Edit Cources' %>
<% currently_at 'Cources' %>

<div class="row">

  <div class="col-2">
    <%= render 'cource_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h1 class="display-6 mb-5">
        Editing <span class="text-muted"><% @university.title %> Cource</span>
      </h1>
    </div>

    <%= render 'form', cource: @cource %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @cource, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', cources_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'cource_info_card' %>
  </div>
</div>
