<% provide :page_title, 'Edit iPhone Repair' %>
<% currently_at 'iPhone Repairs' %>

<div class="row">

  <div class="col-2">
    <%= render 'repair_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h4 class="display-6">
        Editing Repair
        <span class="text-muted">
          <%= @repair.id %>
        </span>
      </h4>
    </div>

    <%= render 'form', repair: @repair %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @repair, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', repairs_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'repair_info_card' %>
  </div>
</div>
