<% provide :page_title, (@repair.try(:title) || "Repair ##{@repair.id}") %>
<% currently_at 'iPhone Repairs' %>

<% if turbo_frame_request? %>
  <%= turbo_frame_tag turbo_frame_request_id do %>
    <%= render partial: "details", locals: { repair: @repair } %>
  <% end %>
<% else %>
  <div class="repairs-page">
    <div class="container py-3">
      <div class="d-flex align-items-center gap-3 mb-3">
        <%= link_to "← К списку ремонтов", repairs_path, class: "btn btn-link link-dark p-0" %>
        <%= link_to "← В магазин", store_path, class: "btn btn-link link-dark p-0" %>
      </div>
      <%= render partial: "details", locals: { repair: @repair } %>
    </div>
  </div>
<% end %>
