<% provide :page_title, 'Universities' %>
<% currently_at 'Universities' %>

<div class="container pt-5 pb-5">

  <div class="bg-white shadow p-4 col-12">

    <h4 class="display-3 mb-5">Universities</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Images</th>
          <th>Videos</th>
          <th colspan="3">Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @universities.each do |university| %>
          <tr>
            <td class="align-middle"><%= university.id %></td>
            <td class="align-middle"><%= university.title %></td>

            <td class="align-middle">
              <% university.images.each do |image| %>
                <%= image_tag(image.url, width: '30', class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle">
              <% university.videos.each do |video| %>
                <%= video_tag(video.url, width: '40', height: '40', controls: true, class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle"><%= link_to 'Show', university, class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_university_path(university), class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to 'New University', new_university_path, class: 'text-decoration-none' %>
  </div>
</div>
