<% generation = Generation.new %>

<%= form_with(model: generation, html: { multipart: true }) do |form| %>

  <div class="row p-5 shadow bg-white mb-5">
    <div class="mb-3">
      
      <%= form.label :Generation_avatar, class: 'display-6 mb-5 text-decoration-none text-muted' %>
      <%= form.file_field :avatar, id: 'new-avatar-field', type: 'file', class: 'form-control' %>
      <%= form.hidden_field :avatar_cache %>
    </div>

    <div class="row">
      <div class="mt-3 mb-3 col">
        <%= form.label "Current iPhone avatar", class: 'form-label mb-3' %><br>

        <% if generation.avatar.present? %>
          <%= image_tag(generation.avatar.url, width: '300', class: 'img-thumbnail rounded p-1 shadow') %>
        <% else %>
          <%= image_tag('default_product_avatar.jpg', width: '300', class: 'img-thumbnail rounded p-1 shadow') %>
        <% end %>
      </div>

      <div class="mt-3 mb-3 col">
        <%= form.label "New iPhone avatar preview", class: 'form-label mb-3' %><br>
        <img id="image-prevew" src="#" width="300" height="200" class="img-thumbnail rounded p-1 shadow" />
      </div>
    </div>
  </div>
<% end %>
