<% provide :page_title, 'Edit MacBook' %>
<% currently_at 'MacBooks' %>

<div class="row">

  <div class="col-2">
    <%= render 'makbooks_show_nav' %>
  </div>

  <div class="col-6 m-5">
    <div class="row p-5 shadow bg-white mb-5">
      <h1 class="display-6">
        Editing
        <span class="anchorjs-link text-muted" id='gadget'>
          <%= @makbook.title %>
        </span>
      </h1>
    </div>

    <%= render 'form', makbook: @makbook %>

    <div class="list-inline-item mt-3">
      <%= link_to 'Show', @makbook, class: 'text-decoration-none me-3' %>
      <%= link_to 'Back', makbooks_path, class: 'text-decoration-none' %>
    </div>
  </div>

  <div class="col-3">
    <%= render 'makbooks_info_card' %>
  </div>
</div>
