<% provide :page_title, 'MacBooks' %>
<% currently_at 'MacBooks' %>

<div class="container pt-5 pb-5">
  <div class="bg-white shadow p-4 col-12">

    <h4 class="display-3 mb-5">Makbooks</h4>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>Diagonal</th>
          <th>Model</th>
          <th>Version</th>
          <th>Series</th>
          <th>Production period</th>
          <th>Full title</th>
          <th>Overview</th>
          <th>Images</th>
          <th>Videos</th>
          <th colspan="3">Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @makbooks.each do |makbook| %>
          <tr>
            <td class="align-middle"><%= makbook.id %></td>

            <td class="align-middle"><%= makbook.diagonal %></td>
            <td class="align-middle"><%= makbook.model %></td>
            <td class="align-middle"><%= makbook.version %></td>
            <td class="align-middle"><%= makbook.series %></td>
            <td class="align-middle"><%= makbook.production_period %></td>
            <td class="align-middle"><%= makbook.full_title %></td>
            <td class="align-middle"><%= makbook.overview %></td>

            <td class="align-middle">
              <% makbook.images.each do |image| %>
                <%= image_tag(image.url, width: '30', class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle">
              <% makbook.videos.each do |video| %>
                <%= video_tag(video.url, width: '40', height: '40', controls: true, class: 'rounded') %>
              <% end %>
            </td>

            <td class="align-middle"><%= link_to 'Show', makbook, class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_makbook_path(makbook), class: 'text-decoration-none' %></td>
            <td class="align-middle"><%= link_to 'Destroy', makbook, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to 'New Makbook', new_makbook_path, class: 'text-decoration-none' %>
  </div>
</div>
